<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Add Program</h2>

            <br />

            <form method="post" action="/programs/add">
                <fieldset>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Program Code">Program Code</label>
                                <input
                                    class="form-control"
                                    id="programCode"
                                    name="programCode"
                                    type="text"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Program Name">Program Name</label>
                                <input
                                    class="form-control"
                                    id="programName"
                                    name="programName"
                                    type="text"
                                />
                            </div>
                        </div>
                    </div>
                </fieldset>

                <hr />

                <input
                    type="submit"
                    class="btn btn-primary pull-right"
                    value="Add Program"
                /><br /><br /><br />
            </form>
        </div>
    </div>
</div>